body {
	background-color: white;
	color: black;
	transition:
		background-color 0.3s,
		color 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	font-family: sans-serif;
}
body.dark-mode {
	background-color: black;
	color: white;
}

button {
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
}
